* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body {
  background-color: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  max-width: 1080px;
  margin: 0 auto;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: fff;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #00af00;
  font-size: 36px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 24px;
  display: flex;
  gap: 2px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: none; 
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  cursor: pointer;
}

.todo-button.edit {
  background-color: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  padding: 16px 22px; 
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
